.howTo{
  background: url('../images/howtodo-bg.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.howTo__box{
  text-align: center;
}

.howTo__box circle,
.howTo__box text,
foreignobject{
  transition: all .5s ease;
  cursor: pointer;
  font-size: 18px;
}

.howTo__box g:hover circle{
  r: 20px;
  fill: #036CCA;
}

.howTo__box g:hover text{
  fill: #036CCA;
  font-size: 36px;
}
.howTo__box g:hover foreignobject{
  color: #036CCA;
  font-size: 22px;
  line-height: 20px;
}

foreignobject{
  text-align: left;
}