.info{
  background-image: url('../images/info-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.special-offer__inner{
  display: flex;
  justify-content: space-between;
}

.special-offer__item{
  width: 500px;
}

.special-offer__item-box{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #fff;
  margin-bottom: 25px;
  padding: 40px 75px;
  text-align: center;
}

.special-offer__item-text{
  font-size: 24px;
  line-height: 29px;
  width: 237px;
  margin: 0 auto;
}

.special-offer__item-text span{
  color: #CB0E0E;
}

.special-offer__old-price{
  font-size: 14px;
  line-height: 17px;
  color: #E5E5E5;
  text-align: right;
  margin-bottom: 16px;
  position: relative;
}
.special-offer__old-price::before{
  content: '';
  position: absolute;
  width: 68px;
  height: 1px;
  background: #CB0E0E;
  top: 7px;
  right: 0;
  transform: rotate(18deg);
}
.special-offer__new-price{
  font-size: 48px;
  line-height: 57px;
}

.special-offer__btn{
  width: 100%;
}