.slider{
  text-align: center;
}

.slider__inner{
  margin-bottom: 50px;
  border: 1px solid #fff;
  padding: 100px 0;
}

.slider__description{
  font-family: 'spaceagecyrillic';
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.slider__box-img{
  margin: 0 auto;
}

.slider__arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.slider__arrow-left{
  left: 60px;
}

.slider__arrow-right{
  right: 60px;
}
